.idea/
node_modules/
static/dist/
*.iml
webpack-assets.json
webpack-stats.json
npm-debug.log
.happypack
webpack/dlls/*.json
api/**/*.nedb
*.report.html
.history/
.DS_Store
.happypack
coverage/
.vscode/
