$primary-color: #ff6b6b; /* call to action and other important things */
$secondary-color: #2b6d59; /* active menus, secondary buttons, some usefull things, but not critical */
$primary-font-color: #484848; /* for most texts, sometimes can be used as alternative for $secondary-color */
$secondary-font-color: #484848; /* for most texts, sometimes can be used as alternative for $secondary-color */
$additional-color: #4d5051; /* for some blocks with additional info */

$white: #fff;

/* other */
$default-border-color:#e4e4e4;
$default-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
